@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import '../../node_modules/@anas2479/bash-mirror/src/scss/bash.scss';

.hero{

    img{
        max-width: 100%;
    }

    
.bash-mirror{
    box-shadow: 0 0  200px rgba(0, 0, 0, 0.3);
    @media only screen and(min-width:650px) {
        width: 500px;
    }
}
}


footer{

    
.creator-logo{
    max-width: 100px;
    opacity: .5;
    margin-right:30px;
}


}