@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import '../../node_modules/@anas2479/bash-mirror/src/scss/bash.scss';

.hero{

    height: 100vh;
    img{
        max-width: 100%;
    }

    
.bash-mirror{
    box-shadow: 3px 3px 0 rgba($bash_bg,.8),
    10px 10px 30px rgba($bash_bg,.3);
    max-width: 100%;
    @media only screen and(min-width:650px) {
        width: 500px;
    }
}
}


footer{
//margin-top: 150px;
    
.creator-logo{
    max-width: 100px;
    opacity: .5;
    margin-right:30px;
}


}